<section class="hero is-fullheight is-light is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="columns is-8 is-variable ">
        <div class="column is-half has-text-left">
          <%= link_to root_path do %>
            <h1 class="title">
              Minimalistic Flight Booker
            </h1>
          <% end %>
          <h2 class="subtitle">
            Booking without hussle
          </h2>
        </div>

        <div class="column is-half has-text-left">
          <%= render "search_form" %>
        </div>
      </div>

      <% unless @available_flights.nil? %>
        <% if @available_flights.any? %>
          <div class="section">
            <h2 class="title is-4">Outbound flight for <%= Airport.find(params[:from_airport_id]).code %> to <%= Airport.find(params[:to_airport_id]).code %> </h2>
            <h2 class="subtitle"><%= @selected_date.strftime('%B %d, %Y') %></h2>
            <%= render "search_results_form" %>
          </div>
        <% else %>
          <p>There are no available flights on the selected date</p>
        <% end %>
      <% end %>
    </div>
  </div>
</section>